<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud</title>
     <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>

<style>
 
</style>
<body>
    
     <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

    <div class="container">
        <div class="py-5">
          <h2 class="text-center">Create a new user</h2>

          <form class="row g-3" action="/post-crud" method="POST">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Address</label>
              <input type="text" class="form-control" name="address">
            </div>
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Firstname</label>
              <input type="text" class="form-control" name="firstname">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Lastname</label>
              <input type="text" class="form-control" name="lastname">
            </div>
            <div class="col-md-6">
              <label for="inputAddress" class="form-label">Phone number</label>
              <input type="text" class="form-control" name="phonenumber">
            </div>
            <!-- <div class="col-md-4">
              <label for="inputState" class="form-label">Gender</label>
              <select name="gender" class="form-select">
                <option value="1">Male</option>
                <option value="0">Female</option>
              </select>
            </div> -->
            <div class="col-md-2">
              <label for="inputState" class="form-label">Role</label>
              <select name="roleId" class="form-select">
                <option value="1">Admin</option>
                <option value="2">Doctor</option>
                <option value="3">Patient</option>
              </select>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary" >Sign in</button>
            </div>
          </form>

        </div>
    </div>
</body>

</html>